<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HuaJu</display-name>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.hj.web.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AutoLoginFilter</filter-name>
    <filter-class>com.hj.web.filter.AutoLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutoLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.hj.web.servlet.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/userlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckImgServlet</servlet-name>
    <servlet-class>com.hj.checkimg.CheckImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckImgServlet</servlet-name>
    <url-pattern>/checkimg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReserveRoom</display-name>
    <servlet-name>ReserveRoom</servlet-name>
    <servlet-class>com.hj.web.servlet.ReserveRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReserveRoom</servlet-name>
    <url-pattern>/reserveroom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReserveInfo</display-name>
    <servlet-name>ReserveInfo</servlet-name>
    <servlet-class>com.hj.web.servlet.ReserveInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReserveInfo</servlet-name>
    <url-pattern>/reserveinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginOut</display-name>
    <servlet-name>LoginOut</servlet-name>
    <servlet-class>com.hj.web.servlet.LoginOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginOut</servlet-name>
    <url-pattern>/loginout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReserveDetails</display-name>
    <servlet-name>ReserveDetails</servlet-name>
    <servlet-class>com.hj.web.servlet.ReserveDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReserveDetails</servlet-name>
    <url-pattern>/reservedetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelReserve</display-name>
    <servlet-name>CancelReserve</servlet-name>
    <servlet-class>com.hj.web.servlet.CancelReserve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelReserve</servlet-name>
    <url-pattern>/cancelreserve</url-pattern>
  </servlet-mapping>
</web-app>